body {
  margin: 1.5rem;
  font-family: sans-serif;
  background-color: rgb(32, 32, 29);
}

h1 {
  text-align: center;
  color: #eee;
}

section {
  padding: 1rem 2rem;
  border-radius: 6px;
  background-color: #eafbff;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #20201d;
  border: 1px solid #20201d;
  color: #eee;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

button:hover {
  background-color: #3d3d3d;
  border-color: #3d3d3d;
}

.control {
  margin: 1rem 0;
}

label,
input {
  display: block;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input {
  font: inherit;
  font-size: 1.5rem;
  border-radius: 4px;
  border: 1px solid rgb(156, 153, 136);
  width: 3rem;
  max-width: 100%;
  padding: 0.5rem;
  color: rgb(66, 63, 44);
}

input:focus {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #2799ff;
  font-weight: 600;
}

.output {
  font-weight: bold;
  background-color: #ffd13c;
  padding: 0.25rem;
  border-radius: 4px;
}

.sum_output {
  font-weight: bold;
  background-color: #ffffffb0;
  padding: 0.25rem;
  border-radius: 4px;
  border: 2px solid;
}

a.highlight {
  background-color: #7cb2d5;
  padding: 0.25rem;
  color: #ffffff;
}

#calculated-sum {
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  display: none;
}

.logo {
  text-decoration: none;
  width: 10rem;
  display: flex;
  text-decoration: none;
}

.logo > img {
  height: 35px;
}

.logo-txt {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  color: #eee;
  align-items: flex-start;
}

.logo-img {
  width: 2rem;
  margin-right: 3px;
}

.logo-txt h1,
.logo-txt span {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 4px;
}

.logo-txt h1 {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 2px;
  color: #eee;
}

.logo-txt span {
  font-weight: lighter;
  font-size: 0.85rem;
}
::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 2rem;
  max-width: 75%;
  margin: auto;
}

#highlight-links p {
  line-height: 1.3rem;
}
